* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #000000;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: 'Sen', sans-serif;
}

.logo-container {
    flex: 1;
}

.logo {
    font-style: 30px;
    color: #910142;
    cursor: default;
    transition: 1s ease;
}

.logo:hover {
    color: #b70153;
}

.menu-container {
    flex: 6;
}

.profile-container {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.profile-text-container {
    margin: 0 20px;
    display: flex;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

#uparrow {
    display: none;
    margin-left: 6px;
}

#downarrow {
    margin-left: 6px;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
    cursor: pointer;
    opacity: 75%;
    transition: 0.3s;
}

.menu-list-item:hover {
    opacity: 100%;
}

.menu-list-item.active{
    font-weight: bold;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.toggle-icon {
    color: #333;
    transition: 1.5s ease;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: #000000;
    position: absolute;
    right: 1px;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s ease all;
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon {
    color: #fff;
    font-size: 20px;
    margin-bottom: 80px;
    cursor: pointer;
    opacity: 75%;
    transition: 0.3s;
}

.left-menu-icon:hover {
    opacity: 100%;
}

.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: #fff;
}

.content-container {
    margin-left: 50px;
}

.featured-content {
    height: 50vh;
    padding: 50px;
}

.featured-title {
    width: 200px;
}

.featured-desc {
    width: 500px;
    color: #d3d3d3;
    margin: 30px 0;
    font-weight: 900;
    background-color: #222;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.5s;
}

.featured-desc:hover {
    opacity: 1;
}


.featured-button {
    background-color: #910142;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s ease-in-out all;
    opacity: 0.8;
}

.movie-list-container {
    padding: 0 20px;

}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;

}

.movie-list {
    display: flex;
    height: 300px;
    align-items: center;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0px 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.movie-list-item-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}

.movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
    border-radius: 6px;
}

.movie-list-item-desc {
    background-color: #222;
    padding: 10px;
    font-size: 10px;
    position: absolute;
    top: 32%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
    border-radius: 8px;
}

.movie-list-item-button {
    padding: 10px;
    background-color: #910142;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-button:hover,
.featured-button:hover {
    color: #910142;
    background-color: #fff;
    opacity: 1;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: #999;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.25s ease-in-out all;
}

.arrow:hover {
    color: #fff;
    opacity: 1;
}

.container.active {
    background-color: #fff;
}

.movie-list-title.active {
    color: #000000;
}

.navbar-container.active {
    background-color: #d3d3d3;
    color: #000000;
}

.sidebar.active {
    background-color: #d3d3d3;
}

.left-menu-icon.active {
    color: #000000;
}

.toggle.active {
    background-color: #000000;
}

.toggle-ball.active {
    background-color: #fff;
    transform: translateX(-20px)
}

.arrow.active:hover {
    color: #222;
}

.toggle-icon.active {
    color: #e3a72f;
}

.featured-desc.active {
    color: #222;
    background-color: #d3d3d3;
}

.search-container.active {
    background: linear-gradient(to bottom, #fff, #999);
}

.inputSearch input.active {
    box-shadow: 0px 0px 20px #888;
}

#Error.active {
    color: #000000;
}

.movie-chosen.active {
    color: #000000;
}

.sidebar,
.container,
.movie-list-title,
.navbar-container,
.left-menu-icon,
.toggle,
.featured-desc,
.profiles-pic,
.search-container,
.inputSearch input,
#Error,
.movie-chosen {
    transition: 2s ease-in-out;
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}

.profiles-pic {
    width: 350px;
    height: 350px;
    background-color: #000000;
    right: 50px;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    display: none;
}

.profiles-pic.active {
    background-color: #d3d3d3;
}

.profile-select.active:hover{
    box-shadow: 0px 0px 20px #000000;
}

.copyright.active {
    color: #000000;
}

.pics-container {
    position: relative;
}

.profile-select {
    width: 70px;
    height: 70px;
    margin: 20px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.profile-select:hover {
    opacity: 1;
    box-shadow: 0px 0px 20px #fff;
}

.search-container {
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, #222, #000000);
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    display: none;
}

.inputSearch {
    position: absolute;
}

.inputSearch input {
    width: 400px;
    height: 40px;
    margin-right: 18px;
    font-family: 'Sen';
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 0px 10px #fff;
}

.movie-chosen {
    width: 600px;
    height: 400px;
    position: relative;
    left: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    display: none;
}

.search {
    top: 20px;
    margin: 20px 0;
    width: 500px;
    height: 800px;
    box-shadow: 0px 0px 30px #111;
}

#DescSearch {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 35px;
}

#Error {
    display: none;
    position: absolute;
    width: 100%;
    left: 25%;
    top: 80%;
    color: #999;
}

.copyright {
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: default;
}

.copyright p {
    opacity: 55%;
    transition: 1.5s;
}

.copyright p:hover {
    opacity: 100%;
}

